<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>Home - Adevinta POC</title>
</head>
<body>
<header>
    <a href="home"><img src="img/Adevinta-logo.svg" width="200px"></a>
    <h1>POC - Credit Limit Tracking</h1>
    <h2>Home</h2>
</header>
<div class="container">
    <a href="uploaddata"><div class="home-button">Upload Data</div></a>
    <a href="searchdata"><div class="home-button">Search Data</div></a>
    <a href="showall"><div class="home-button">Show All</div></a>
</div>
</body>
</html>